.Totals {
    position: absolute;
    width: 327px;
    height: 257px;
    right: 1.5em;
    top: 500px;
    background: hsl(240, 100%, 15%);
    border-radius: 15px;
}

.Totals p {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

.Totals__info {
    position: absolute;
    width: 281px;
    height: 116px;
    left: 48px;
    top: 681px;

}

#tip__amount {
    position: absolute;
    height: 24px;
    left: 1em;
    top: 3em;
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#tip__person {
    position: absolute;
    height: 19px;
    left: 1em;
    top: 5.5em;
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

#person__amount {
    position: absolute;
    height: 47px;
    left: 7em;
    top: 1.4em;   
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
    letter-spacing: -0.666667px;
    color:  hsl(248, 41%, 97%);
    overflow-x: scroll;


}

#total__tip {
    position: absolute;
    height: 24px;
    left: 1em;
    top: 7em;
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

#total__person {
    position: absolute;
    height: 19px;
    left: 1em;
    top: 10.5em;
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;

}

#total {
    position: absolute;
    max-width: 120px;
    overflow-x: scroll;
    height: 47px;
    left: 7em;
    top: 3.75em;
    font-family: "Chivo Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
    letter-spacing: -0.666667px;
    color:  hsl(248, 41%, 97%);
}

.Totals__reset {
    position: absolute;
    width: 295px;
    height: 48px;
    left: 15px;
    top: 9em;
    background: hsl(240, 67%, 45%);
    border-radius: 5px;
    border: none;
    color: hsl(240, 100%, 15%);
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    cursor: pointer;
}

